.tamanioFuente1{
    color:black;
}

.tamanioFuente2{
    color:black;
}

.tamanioFuente3{
    color:black;
}


/* Punto 9 */
.titulo
{
  background-color: #8cb2fa;
}

.cuerpo {
  background-color:#784d3a;
}